## 다음 확장자 전체 무시
*.DS_Store
*.ttf
chromedriver

## 폴더
.idea/
.ipynb_checkpoints/


## 팀 프로젝트 - 사자감성
팀 프로젝트 - 사자감성/CSV/03_news_all_data.csv
팀 프로젝트 - 사자감성/CSV/04_news_data_five_columns.csv
팀 프로젝트 - 사자감성/CSV/05_news_title.csv
팀 프로젝트 - 사자감성/CSV/ETC/
팀 프로젝트 - 사자감성/CODE/temp.ipynb
팀 프로젝트 - 사자감성/PNG/cloud image/
팀 프로젝트 - 사자감성/PNG/그래프_png.zip
팀 프로젝트 - 사자감성/PNG/뉴스데이터 전체 실행시 오류.png
팀 프로젝트 - 사자감성/발표자료/전예슬_팀프로젝트/
팀 프로젝트 - 사자감성/발표자료/전예슬_팀프로젝트.zip
팀 프로젝트 - 사자감성/발표자료/중간발표_스크립트
팀 프로젝트 - 사자감성/발표자료/중간발표_조별_피드백_작성.xlsx
팀 프로젝트 - 사자감성/발표자료/중간발표_피드백.xlsx
팀 프로젝트 - 사자감성/발표자료/최종발표_스크립트
팀 프로젝트 - 사자감성/발표자료/최종발표_조별_피드백_작성.xlsx
팀 프로젝트 - 사자감성/발표자료/최종발표_피드백_20211012.xlsx
팀 프로젝트 - 사자감성/발표자료/팀_로고/coding.png

## 파일럿 프로젝트 - 고구마 가격 예측
파일럿 프로젝트 - 고구마 가격 예측/CODE/Untitled.ipynb
파일럿 프로젝트 - 고구마 가격 예측/CODE/test_tf.ipynb
파일럿 프로젝트 - 고구마 가격 예측/~$ 보고서 양식_AI 스쿨.docx
파일럿 프로젝트 - 고구마 가격 예측/~$럿_프로젝트_수행_계획서.docx
파일럿 프로젝트 - 고구마 가격 예측/파일럿_프로젝트_수행_계획서.docx
파일럿 프로젝트 - 고구마 가격 예측/활동 보고서 양식_AI 스쿨.docx

## 파일럿 프로젝트 - 멜론 최신앨범 정보 가져오기
파일럿 프로젝트 - 멜론 최신앨범 정보 가져오기/파일럿_프로젝트계획서.docx


