/*
    2021_09_06_4
    external CSS
*/

body {
    background-color: lightblue;
}

.h1_class {
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 3em;
    opacity: 0.8;
}

.ul_class {
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 2em;
    color: white;
}

 #list3 {
    color: red;
}